#container {
    display: grid;
    grid-gap: 20px;
}

.item1{
    color: azure ;
}

.item2{

}

.item3{
    background-image: ;
}

.item4{
    background-image: ;
}

.item5{
    background-image: ;
}

.item6{
    background-image: ;
}

.item7{
    background-image: ;
}

.item8{
    background-image: ;
}

.item9{
    background-image: ;
}

.item10{
    background-image: ;
}
.item11{
    background-image: ;
}